:root {
    --primary-color: black;
    --secondary-color: #62bdee;
    --tertiary-color: #11ddf4;
  }

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    background-image: url(../images/port-back.jpg);
  }

  /* Header / Nav Bar Starts */

  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    background-image: url(../images/port-wood.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 45px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  /* Header Nav Bar End */

  /* Hero section */
  .hero img {
    border: #11ddf4;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
    margin: 20px;
    background-color: floralwhite;
    width: 300px;
    

  }



 
  /* About Me Starts */
  .about-me {
    border: #11ddf4;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
    margin: 20px;
    text-align: center;
    background-color: floralwhite;
    
  }

  


  /* Projects */

  .projects {
    border: #11ddf4;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    margin: 20px 80px 20px 80px;
    background-color: floralwhite;
  }
  

  p.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
  }
  
  p.gallery:hover {
    border: 1px solid #777;
  }
  
  p.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color:floralwhite
    

  }

  /*end projects*/


  
  /*contact*/

  .contact {
    border: #11ddf4;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    margin: 20px 250px 20px 250px;
    background-color: floralwhite;

    
  }

  

  /* Footer */

  footer {
    background: var(--tertiary-color);
    background-image: url(../images/port-wood.jpg);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
  }

  footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }



  
  